name: Unit Test
on: push

jobs:
  unit_test:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: [ '3.7', '3.10' ]
    name: Python ${{ matrix.python-version }} 
    steps:
      - uses: actions/checkout@v3
      - name: Setup Python
        uses: actions/setup-python@v4
        with:
          python-version: ${{ matrix.python-version }}
          architecture: x64
          cache: 'pip'
      - run: ./scripts/dev.sh
      - run: ./scripts/test.sh
      - run: ./scripts/lint.sh
